*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

h1{
    color: black;
    text-transform: uppercase;
}

legend{
    color: rgb(0, 0, 0);
}

body{
    background: linear-gradient(rgba(68, 13, 13,0.35), rgba(38,2,2,0.446)), url(../img/fondo.webp) no-repeat center/cover;
}

.container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-flow: column;
    background-color: white;
    width: 50%;
    height: 97%;
    padding: 5px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 50px;
    border-radius: 10px;
}

input,textarea{
    border: none;
    resize: none;
    outline: none;
    padding: 5px 0px;
    width: 80%;
    margin: 5px;
    transition: all 300ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center
    
    
    
    ;
}

input:focus, textarea:focus{
    border-bottom-color: brown;
}

select{
    width: 500px;
    margin: 5px;
    text-align: center;
}

button{
    border: none;
    outline: none;
    background-color: brown;
    padding: 10px;
    width: 200px;
    color: white;
    border-radius: 2px;
    box-shadow: rgba(0,0,0,0.7) 0px 0px 10px;
    margin: 5px 0px;
    cursor: pointer;
    transition: all 300ms;
}

button:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.0) 0px 0px 10px;
}